@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Zaloguj</a>
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Register">Zarejestruj</a>
</div>
